.auth_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #108dc7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ef8e38,
    #108dc7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ef8e38,
    #108dc7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.auth_form {
  width: max-content;
  width: 400px;
  height: 400px;
  /* form reference */
  /* border: 1px solid black; */
  /* border-radius: 3px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.primary_inputs {
  width: 250px;
}

.forgot_password {
  text-decoration: none;
  color: black;
}
